@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-text-size-adjust: 100%; text-size-adjust: 100%; 
}



body {
    min-height: 100vh;
    background-size: full;
    background-repeat: no-repeat;
}

nav {
    position: sticky;
    min-height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 78;
    background-color: rgba(255, 255, 255);
    background-blend-mode: multiply; 
    list-style: none;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.mobile-menu-icon {
    display: none;
    color: whitesmoke;
    cursor: pointer;
    height: 14px;
    z-index: 99;
    padding-left: 10px;
}

.mobile-menu-close {
    display: block;
    color: whitesmoke;
    cursor: pointer;
    position: absolute;
    top: 67px;
    right: 30px;
}

.mobile-menu {
    display: block;
    position: fixed;
    padding-top: 70px;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
}

#logo {
    filter: invert(100%);
	width: 75px;
	height: 75px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}


nav .logo {
    filter: invert(100%);
    color: whitesmoke;
    width: 75px;
	height: 75px;
    text-decoration: none;
    font-family: "Helvetica", system-ui;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer-logo {
    width: 300px;
	height: 300px;
    margin-left: 40px;
}

nav .logo:hover {
    font-size: 2.1em;
    color: rgb(228, 54, 42);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px; 
}

nav ul li a {
    text-decoration: none; 
    padding: 6px 15px;
    font-family: 'Archivo Narrow';
    font-weight: 700;
    color: rgb(19, 18, 18);
}

   nav ul li a:hover,
   nav ul li a:active {
    color: rgb(255, 255, 255);
    background-color: rgb(11, 11, 11);
}

.promo-bar {
    position: relative;
    width: 100%;
    min-height: 30px;
    z-index: 78;
    background-color: rgb(0, 0, 0);
    background-image: none;
}

.promo-bar-text {
    width: 100%;
    font-weight: 700;
    font-size:  11px;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
    background-image: none;
}

.active {
    color: rgb(48, 48, 48);
}

.cart-icon {
    color: whitesmoke;
}

#section1 {
    position: relative;
    width: 100%;
    height: 82vh; 
    padding: 100px;
    display: flex;
    justify-content: center ;
    align-items: center;
}

#section2 {
    background-image: url(../images/nike1.webp);
    background-position-y: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#section3 {
    position:relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 44vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20vh;
}

#section1-2 {
    width: 100%;
    height: 30vh; 
    padding: 100px;
    display: flex;
    justify-content: center ;
    align-items: center;
}

#section2-2 {
    background-color: whitesmoke;
    width: 100%;
    height: 30vh; 
    padding: 100px;
    display: flex;
    align-items: center;
}

#store {
    background-color: #ffffff;
    min-height: 60vh;
    max-width: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 25px 25px 25px;
    box-sizing: border-box;
}

#store ul {
    list-style: none;
    text-decoration: none;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}

#store ul li {
    flex: 1 1 500px;
    max-width: none;
    min-width: 500px;
}

#store ul::-webkit-scrollbar { height: 8px; padding-top: 4px;}
#store ul::-webkit-scrollbar-track { background: #f1f1f1; }
#store ul::-webkit-scrollbar-thumb { background: #111; border-radius: 4px;}
#store ul::-webkit-scrollbar-thumb:hover { background: #444; }

.collection-title {
    font-family: "Archivo Narrow";
    font-size: 24px;
    padding-bottom: 15px;
    display: flex;
    width: 100%;
    pointer-events: none;
}

#about-title {
    display: flex;
    padding-left: 20%;
    font-family: "Archivo Narrow";
    color: whitesmoke;
    font-size: 72px;
}

#about-title-container {
    width: 100%;
}

.product-box {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: auto;
    min-width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.product-list {
    display: flex;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
}

.product-box:hover {
    background-color: rgb(0, 255, 64);
}


.product-image-main{
    position: absolute;
    display: block;
    object-fit: cover;
    inset: 0;
    width: 100%;
    flex: 0 0 100%;
    z-index: 3;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.product-carousel .product-image{
    position: absolute;
    inset: 0;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    flex: 0 0 100%;
    transition: opacity 0.5s ease;
}

.image-container:hover .product-carousel {
    visibility: visible;
}

.product-carousel {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    visibility: hidden;
    object-fit: cover;
    z-index: 1;
}

.product-carousel img.is-active{
    opacity: 1;
}

.product-carousel img.is-hidden{
    opacity: 0;
}

.image-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px solid black;
}

.image-container:hover .product-image-main {
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.image-container:hover .product-arrow-button-next, 
.image-container:hover .product-arrow-button-prev {
    opacity: 1;
}

.title-container {
    padding-left: 25px;
    display: flex;
}

.product-title {
    color: rgb(16, 15, 15);
    font-family: "Archivo Narrow";
    font-weight: 700;
    font-size: 100;
    min-height: 2.6em;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
    text-transform: uppercase;
}

.price-tag {
    font-family:'Helvetica';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 0px;
}

#main-title {
    position: absolute;
    color: whitesmoke;
    white-space: nowrap;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 5vw;
    z-index: 9;
    font-family: "Archivo Narrow";
}


.promotion-text {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family: 'ballet';
    z-index: 9;
    padding-top:50px;
    float: left;
}

.text3 {
    color: rgb(37, 35, 35);
    white-space: nowrap;
    font-size: 75px;
    font-family: 'ballet';
    z-index: 9;
}


.text4 {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 3em;
    z-index: 9;
    padding-top:50px;
    font-family: 'Helvetica';
}

.about-text {
    color: black;
    font-family: 'Helvetica';
    font-size: 16px;
    display: flex;
    justify-content: left;
}

.footer-text {
    color: whitesmoke;
    font-family: 'Archivo Narrow';
    font-weight: 600;
    padding-left: 55px;
}

#main-title:hover {
    position: absolute;
    color: rgb(238, 238, 238);
    white-space: nowrap;
    font-size: 5.01vw;
    cursor: pointer;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 2px;
    background: whitesmoke;
    color: black;
    font-size: 1.5em;
    font-family: 'Archivo Narrow';
    font-weight: 500;
    z-index: 9;
    transform: translateY(100px)
}

.button-wrapper {
    padding: 30px;
}

.button-promotion-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 5%;
    align-items: center;
}

.button {
    background: black;
    padding: 13px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.button2 {
    background: whitesmoke;
    padding: 16px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.image-link-overlay {
    position: absolute;
    inset: 0;
    z-index: 5;
}

.product-arrow-button-prev,
.product-arrow-button-next {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    border: none;
    background-color: transparent;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0;

    z-index: 10;

    cursor: pointer;

    transition: opacity 0.3s ease;
}

.product-arrow-button-prev {
    left: 10px;
    background-image: url("chevron-left.png");
}


.product-arrow-button-next {
    right: 10px;
    background-image: url("chevron-right.png");
}

.button:hover {
    background: rgb(37, 35, 35);
    color: whitesmoke;
}

#btn:hover {
    background: limegreen;
    font-weight: 600;
    color: whitesmoke;
    font-size: 1.6em;
    
}

.button2:hover {
    background: limegreen;
    font-weight: 600;
    color: whitesmoke;

}

#store-title-section {
    position: relative;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#store-title {
    position: absolute;
    white-space: none;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: whitesmoke;

}

.video {
  max-width: 300;
  max-height: 300px;
  border-radius: 20px;
  padding: 10px;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

audio{
    padding: 5px;
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
}

footer {
    position: relative;
    height: auto; 
    width: 100%;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
}

#footer-list {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.footer-list-items {
    display: inline;
    width: 100%;
    z-index: 1;
}

footer ul li a {
    text-decoration: none;
    font-family: 'Archivo Narrow';
    font-size: 32px;
    font-weight: 600;
    list-style: none;
    color: whitesmoke;
    padding-left: 20px;
}

footer ul ul {
    padding-left: 50px;
}

footer ul li {
    display: inline-block;
    padding-left: 35px;
}

#footer-bg-text {
    font-family: 'Archivo Narrow';
    font-weight: 700;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 100px;
    z-index: 0;
    opacity: 0;
}
.socials-list {
    position: absolute;
    display: flex;
    bottom: 82px;
    right: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 10px;
    width: 100%;
    align-self: center;
    padding-left: 0px;
}

.socials-list li {
    display: flex;
}

.socials-icon {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    
}

.footer-bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 10px;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 300px;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 16px;
}

.h3 {
    font-size: 24px;
}

.store-grid-section
.store-product-grid {
    display: grid;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
}

.store-grid-section {
    background-color: whitesmoke;
}

.store-image-container {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}


.store-product {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.store-subtitle {
    font-family: "Archivo Narrow";
    font-size: 24px;
    padding: 15px;
    display: flex;
    width: 100%;
    pointer-events: none;
}

.store-title-wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.store-sort-btn {
    font-size: small;
    white-space: nowrap;
    padding-right: 20px;
    pointer-events: none;
}

.store-image-container:hover .product-carousel {
  visibility: visible;
}

.store-image-container:hover .product-image-main {
  opacity: 0;
  pointer-events: none;
}

.store-image-container:hover .product-arrow-button-prev,
.store-image-container:hover .product-arrow-button-next {
  opacity: 1;
}

/* main image needs a height for object-fit: cover to work */
.product-image-main {
  height: 100%;
}

@media (max-width: 768px){
    .main-nav > ul {
        display: flex;
    }

    .main-nav > ul > li {
        display: none;
    }

    .main-nav > ul > li.cart-link {
        display: block;
    } 

    .mobile-menu {
        display: block;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .mobile-menu ul li a {
        transition: 0.3s;
        color: rgb(131, 127, 127)
    }

    .mobile-menu-icon {
        color: black;
        display: block;
        position: relative;
        right: 30px;
    }

    #logo {
        display: none;
    }

    #store ul {
        flex-direction: row;
        flex-wrap: nowrap;

        justify-content: space-between;
        overflow-y: hidden;
        overflow-x: scroll;
        min-height: 340px;
    }



    #store ul li {
        flex: 0 0 100%;
        white-space: normal;
        min-width: 0; 
        max-width: 360px;
        scroll-snap-align: start;
    }

    .product-image, .product-image-main {
        max-width: 100%;
    }

    .product-box {
    padding-bottom: 5px;
    margin-bottom: 10px;
    }


    .title-container {
        overflow: hidden;
    }
    footer ul li a {
        font-size: 2em;
    }

    .promotion-text {
        font-size: 2em;
    }

    #section1 {
        height: 60vh;
    }

    #main-title {
        font-size: 2em;
        background-color: rgba(255, 255, 255, 0);
        top: 18%;
        width: 90%;
        white-space: wrap;
        text-align: center;
    }

    #main-title:hover {
        font-size: 2em;  
        white-space: wrap;
    }

    #btn {
        top: 52%;
        font-size: 1.5em;
        line-height: 1.2;
        padding: 8px 20px;
        white-space: normal;
        transform: translateY(89px);
        white-space: nowrap;
        max-width: 90%;
    }

    .product-title {
        font-size:14px;
    }

    .footer-list-items {
        position: absolute;
        font-size: 11px;
        left: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width:100% auto;
        padding-left: 10px;
    }

    .footer-list-items li{
        display: block;
        padding-left: 0px;
    }

    .footer-list-items li a{
        display: block;
        padding-left: 4px 0; 
    }

    .socials-list {
        left: 18%;
    }

    .store-grid-section
    .store-product-grid {
        display: grid;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 50px;
        gap: 10px;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    

}

@media(hover: none), (max-width: 768px){
    .product-arrow-button-next,
    .product-arrow-button-prev {
        opacity: 1;
        height: 20px;
        width: 20px;
    }

    .product-carousel{
        opacity: 1;
    }
}
